* {
  font-family: RobotoMono;
  color: #e5e9f0;
  background: transparent;
}

#window {
  background: #2E303E;
  margin: auto;
  padding: 5px;
  border-radius: 15px;
}

#input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: none;
  background-color: #232530;
}

#outer-box {
  padding: 15px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 10px;
  border-radius: 8px;
}

#entry:selected {
  background-color: #DA103F;
}

#text {
  margin: 2px;
}
